@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar-item {
  margin-right: 40px;
  margin-left: 40px;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
path.current-floor {
  opacity: 1;
}
.arrow {
  cursor: pointer;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  border: none;
  background-color: #fff;
}
.counter-down {
  transform: rotateX(180deg);
}
.main-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.group-counter {
  color: #635854;
  font-family: "Bebas Neue", sans-serif;
  font-size: 124px;
  margin-top: 10px;
}
.button-primary {
  background: #3596f5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 16px 36px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(Home-melody.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}
.is-open {
  opacity: 1;
  transform: scale(1);
}
.modal-dialog {
  background-color: #fff;
  min-height: 565px;
  max-width: 1000px;
  flex-grow: 1;
  display: flex;
  position: relative;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.02s;
  transition-delay: 0.2;
}
.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}
.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}
.flats path {
  opacity: 0;
}
.flats path:hover {
  opacity: 1;
  cursor: pointer;
}
.modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #000000;
}
.modal-info {
  width: 40%;
  padding: 50px 46px;
}
.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}
.flat-item {
  margin-bottom: 10px;
  display: block;
}
.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}
.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #635854;
  margin-top: 56px;
}
.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
